* {
	margin:				0;
	padding:			0;
}

html {
	background:			#2c3444 url("/img/bggradient.gif") repeat-x top;
}

body {
	margin-top:			20px;
	margin-bottom:		20px;
	text-align:			center;
	font:				80% verdana, arial, helvetica, sans-serif;
	color:				#000;
}

div#wrap {
	width:				728px;
	margin:				0 auto;
	text-align:			left;
}

/* --- Links --- */

a {
	text-decoration:	none;
}

a:link {
	color:				#2664c7;
}

a:visited {
	color:				#1c4a93;
}

a:hover {
	color:				#000;
	text-decoration:	underline;
}

a:active {
	color:				#566576;
}

/* --- Images --- */

img {
	border:				0;
}

/* --- Header --- */

div#header {
	margin:				0 auto;
	width:				726px;
	height:				120px;
	background-image:	url("/img/header.png");
	border-left:		1px solid #000;
	border-top:			1px solid #000;
	border-right:		1px solid #000;
}

div#donation {
	position:			relative;
	top:				86px;
	left:				585px;
}

div#donation input {
	border:				0px;
}

/* --- Ads --- */

div#adTop {
	margin:				15px 0 0 0;
}

div#adRight {
	margin:				0 15px 15px 0;
	float:				right;
	clear:				right;
}

/* --- Navigation --- */

div#upperNav {
	margin:				0 auto;
	width:				726px;
	height:				12px;
	background:			url("/img/upper_nav_border.gif") repeat-x;
	border-top:			1px solid #000;
	border-left:		1px solid #000;
	border-right:		1px solid #000;
}

div#nav {
	margin:				0 auto;
	padding:			4px 0 0 0;
	width:				726px;
	border-left:		1px solid #000;
	border-right:		1px solid #000;
	border-bottom:		1px solid #000;
	background:			#000 url("/img/navback.gif") repeat-x;
}

div#nav ul {
	list-style-type:	none;
	margin:				0;
	padding:			0 0 19px 10px;
}

div#nav li {
	display:			inline;
}

div#nav a, div#nav a:link, div#nav a:visited {
	float:				left;
	margin-right:		15px;
	line-height:		14px;
	font-weight:		bold;
	text-decoration:	none;
	color:				#fff;
	font-variant:		small-caps;
}

div#nav a:hover, #current {
	padding-bottom:		1px;
	color:				#666;
}

/* --- Form --- */

legend {
	margin-left:		1em;
	color:				#000;
	font-weight:		bold;
}

fieldset ul {
	padding:			1em 1em 0 1em;
	list-style:			none;
}

fieldset li {
	clear:				left;
	width:				100%;
	padding-bottom:		1em;
}

fieldset.submit {
	margin:				1em 0 0 0;
	text-align:			right;
	border:				0 none #fff;
}

label {
	float:				left;
	width:				8em;
	margin-right:		1em;
}

input, select {
	border:				1px solid #999;
}

input.wide {
	width:				280px;
}

input.narrow {
	width:				160px;
}

/* --- Sidebar --- */

div#sidebar {
	margin:				15px 0;
	width:				160px;
	float:				right;
	padding:			15px;
	border:				1px solid #000;
	background-color:	#ebeff1;
}

div#sidebar ul {
	list-style-type:	none;
	margin:				0;
	padding:			0;
}

div#showSidebar {
	display:			none;
	float:				right;
}

div#showSidebar a, div#showSidebar a:link, div#showSidebar a:visited {
	color:				#73879e;
	text-decoration:	none;
	font-variant:		normal;
	font-weight:		normal;
}

div#showSidebar a:hover {
	color:				#fff;
	border:				0;
	padding:			0;
	font-variant:		normal;
	font-weight:		normal;
}

/* --- Content --- */

div#wideContent {
	margin:				15px 0 0 0;
	padding:			15px;
	border:				1px solid #000;
	background:			#fff url("/img/bgtxt.gif") repeat-x top;
}

div#wideContent ul.decorated {
	list-style-image:	url("/img/bullet.png");
}

div#wideContent ul.decorated li {
	margin:				0 0 10px 20px;
	padding:			0;
	line-height:		140%;
}

div#content {
	width:				483px;
	margin:				15px 0 0 0;
	padding:			15px;
	border:				1px solid #000;
	background:			#fff url("/img/bgtxt.gif") repeat-x top; /* #fbfbfb */
}

div#content ul {
	list-style-type:	none;
	margin:				0;
	padding:			0;
}

div#content ul.decorated {
	list-style-image:	url("/img/bullet.png");
	margin:				0;
	padding:			0;
}

div#content ul li {
	margin:				0 0 10px;
	padding:			0;
	line-height:		140%;
}

div#content ul.decorated li {
	margin:				0 0 10px 20px;
	padding:			0;
	line-height:		140%;
}

div#content ol {
	margin:				10px 0 0 24px;
	text-align:			justify;
}

div#content ol li {
	margin:				0 0 10px 0;
	line-height:		140%;
}

table {
	margin:				10px auto;
	border:				1px solid black;
}

table th {
	text-align:			center;
	background-color:	#ccc;
	border-bottom:		1px solid black;
}

table td {
	text-align:			center;
	padding:			4px 0 4px 0;
	width:				999px; /* Får så mycket de kan */
}

table caption {
	caption-side:		bottom;
	margin:				0 auto;
	padding:			0 0 10px 0;
	font-size:			100%;
	font-style:			italic;
}

.timestamp {
	color:				#9c9a84;
	font-size:			90%;
	font-weight:		bold;
}

/* Spans */

.errorTitle {
	color:				red;
	border-bottom:		1px dotted red;
}

.errorMessage {
	color:				red;
	font-weight:		bold;
}

.linkdesc {
	margin:				0;
	padding:			0;
	display:			block;
	font-size:			80%;
	color:				#666;
}

.search_help {
	display:			block;
	font-size:			90%;
	color:				#666;
}

.search_help ul {
	margin-bottom:		5px;
}

.search_help ul li {
	margin:				0;
	padding:			0 0 5px 0;
}

h1 {
	margin:				0 0 15px 0;
	padding:			0 0 1px 0;
	font-size:			120%;
	border-bottom:		1px dotted #696969;
}

h2 {
	margin:				15px 0;
	padding:			0;
	font-size:			110%;
	font-weight:		normal;
	text-decoration:	underline;
	/*font-style:			italic;*/
}

h3 {
	margin:				0 0 15px 0;
	padding:			0;
	font-size:			100%;
	text-align:			center;
}

p {
	margin:				5px 0 15px 0;
	padding:			0;
	text-align:			justify;
	line-height:		140%;
}

/* --- Table of Contents --- */

/* TOC list */
div#toc ul {
	list-style-type:	none;
	margin:				0;
	padding:			0;
}

/* TOC item */
div#toc ul li {
	line-height:		160%;
}

div#toc ul ul {
	list-style-image:	url("/img/bullet.png");
	margin:				1.0em 1.5em;
}

.sectHeader {
	margin:				20px 0 0 0;
	padding:			0;
	font-size:			120%;
	font-weight:		bold;
}

div#toc ol {
	list-style-type:	none;
	margin:				20px 0;
}

div#toc ol li {
	line-height:		140%;
}

div#toc ol ol {
	margin:				0 0 10px 20px;
	padding:			0;
}

div#toc ol ol li {
	margin:				0;
	padding:			0;
	font-size:			80%;
	line-height:		140%;
}

div#toc ol ol ol {
	margin:				0 0 10px 20px;
	padding:			0;
}

div#toc ol ol ol li {
	font-size:			100%;
}

/* --- Book Navigator --- */

div#bookNavigator {
	margin:				10px 0 0 0;
	padding:			0 0 10px 0;
	font-size:			80%;
	font-weight:		bold;
	border-top:			1px dotted #696969;
}

span#prev {
	width:				50%;
	float:				left;
}

span#up {
	float:				left;
}

span#next {
	float:				right;
}

/* --- Footer --- */

div#footer {
	margin:				15px auto 0;
	padding:			3px 0;
	background-color:	#fff;
	width:				728px;
	border:				1px solid #000;
	font-size:			80%;
	text-align:			center;
	color:				#666;
	clear:				both;
}