<p><strong>2008-03-19</strong></p>
<ul class="decorated">
	<li>Deleted chapter 3 and moved relevant topics to chapter one, part IV.</li>
	<li>Major improvements to chapter one, part IV, section 1 - 3 and 5 - 6.</li>
	<li>Minor improvements to chapter one, part IV, section 4.</li>
	<li>Added "How to teach your child" to chapter one, part III, section 6.</li>
</ul>

<p><strong>2007-09-03</strong></p>
<ul class="decorated">
	<li>Major improvements to chapter one, part III, sections 8 - 15.</li>
	<li>Major improvements to "Preface".</li>
</ul>

<p><strong>2007-08-25</strong></p>
<ul class="decorated">
	<li>Added "Speed Walls" to chapter one, part III, section 7.</li>
	<li>Significant improvements to chapter one, part III, section 7.</li>
</ul>

<p><strong>2007-08-24</strong></p>
<ul class="decorated">
	<li>Significant improvements to chapter one, part III, section 6.</li>
	<li>Significant improvements to chapter one, part III, sections 16 - 22.</li>
	<li>Significant improvements to "References" and "Book reviews".</li>
	<li>Significant improvements to chapter one, part III, sections 1 - 4.</li>
	<li>New part added to chapter one: V, "Jazz, Fake Books, and Improvisation".</li>
</ul>

<p><strong>2007-06-25</strong></p>
<ul class="decorated">
	<li>Major revisions to chapter one, part II, sections 22 - 26.</li>
	<li>More additions to chapter one, part II, sections 12 - 21.</li>
	<li>Significant improvements to chapter one, part II, sections 12 - 21.</li>
</ul>

<p><strong>2007-04-12</strong></p>
<ul class="decorated">
	<li>Major revisions to chapter one, part I, sections 1 - 4 and part II, sections 1 - 11.</li>
	<li>More book reviews added.</li>
</ul>
