<div id="sidebar">
	<h3>Subsections</h3>
	<ul>
		<li><a href="#general">General</a></li>
		<li><a href="#community">Community / Forums</a></li>
		<li><a href="#sheetmusic">Sheet Music</a></li>
		<li><a href="#misc">Miscellaneous</a></li>
	</ul>
</div>

<div id="adRight">
	<script type="text/javascript"><!--
	google_ad_client = "pub-0769473843117498";
	/* 160x600, Broad Skyscraper */
	google_ad_slot = "3011585916";
	google_ad_width = 160;
	google_ad_height = 600;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>

<div id="content">
	<h1>Links</h1>
	<a name="general"></a><h2>General</h2>
	<ul>
		<li>
			<a href="http://www.pianoworld.com/">Piano World<img src="/img/external_link_icon.gif" alt="[External Link]"></a>
			<span class="linkdesc">Huge site where you can practically find anything regarding pianos.</span>
		</li>

		<li>
			<a href="http://www.howtoplaypiano.ca/">Andrew Furmanczyk Academy of Music<img src="/img/external_link_icon.gif" alt="[External Link]"></a>
			<span class="linkdesc">Andrew Furmanczyk provides high-quality piano lessons online for free. He even has his own YouTube channel!</span>
		</li>
		
		<li>
			<a href="http://www.pianopedia.com/">Pianopedia<img src="/img/external_link_icon.gif" alt="[External Link]"></a>
			<span class="linkdesc">Search engine designed for piano teachers and students, as well as performing pianists. Currently contains statistics of about 900 composers from 50 countries.</span>
		</li>
		
		<li>
			<a href="http://www.pianolessons.com/">Piano Lessons<img src="/img/external_link_icon.gif" alt="[External Link]"></a>
			<span class="linkdesc">These powerful beginner piano lessons are perfect for those who are just starting to learn the piano.</span>
		</li>
		
		<li>
			<a href="http://www.zebrakeys.com">Zebra Keys Free Piano Lessons<img src="/img/external_link_icon.gif" alt="[External Link]"></a>
			<span class="linkdesc">Here you will find over 50 free piano lessons accompanied by animation and sound. Zebrakeys.com also provide tons of resources to help you learn piano such as the virtual piano keyboard, ear training tools, free sheet music and links to some of the best piano related sites on the web!</span>
		</li>
	</ul>
	
	<a name="community"></a><h2>Community / Forums</h2>
	<ul>
		<li>
			<a href="http://www.pianostreet.com/">Piano Street<img src="/img/external_link_icon.gif" alt="[External Link]"></a>
			<span class="linkdesc">Huge forum with 12 000+ members. Offers classical sheet music of very high quality to exclusive gold members. Currently has over 10 000 pages of printable PDF-files as well as acoustic recordings of the most common piano pieces.</span>
		</li>
		<li>
			<a href="http://www.pianoworld.com/ubb/cgi-bin/ultimatebb.cgi">Piano World Forum<img src="/img/external_link_icon.gif" alt="[External Link]"></a>
			<span class="linkdesc">World famous forum with 18 000+ members. Discuss anything from performances to digital instruments.</span>
		</li>
	</ul>
	
	<a name="sheetmusic"></a><h2>Sheet Music</h2>
	<ul>
		<li>
			<a href="http://www.8notes.com/">8 Notes<img src="/img/external_link_icon.gif" alt="[External Link]"></a>
			<span class="linkdesc">Extensive archive of sheet music for various instruments. You can also find sections about music theory, chord charts, games and more. <strong>Note:</strong> The high-quality printable PDF sheets are only available to subscribers.</span>
		</li>
		
		<li>
			<a href="http://www.sheetmusicarchive.net/">Sheet Music Archive<img src="/img/external_link_icon.gif" alt="[External Link]"></a>
			<span class="linkdesc">Arguably the largest collection of public domain classical piano sheet music in PDF-format. <strong>Note:</strong> There is a limit of two downloads / day.</span>
		</li>
		<li>
			<a href="http://www.musicnotes.com/">Music Notes<img src="/img/external_link_icon.gif" alt="[External Link]"></a>
			<span class="linkdesc">Huge sheet music and music book store with a wide range of styles including movie music like Lord of the Rings and Star Wars.</span>
		</li>
		
		<li>
			<a href="http://www.mutopiaproject.org/">Mutopia Project<img src="/img/external_link_icon.gif" alt="[External Link]"></a>
			<span class="linkdesc">Offers about 750 pieces of various styles in many different formats (PDF and PS amoung others) for free.</span>
		</li>
		
		<li>
			<a href="http://www.gamemusic.com/">Game Music<img src="/img/external_link_icon.gif" alt="[External Link]"></a>
			<span class="linkdesc">Considerable collections of game/anime music and sheets for a reasonable price.</span>
		</li>
	</ul>
	
	<a name="misc"></a><h2>Miscellaneous</h2>
	<ul>
		<li>
			<a href="http://fopp.henrik-pantle.de/">Henrik Pantle's website<img src="/img/external_link_icon.gif" alt="[External Link]"></a>
			<span class="linkdesc">Offers a podcasted version of the book.</span>
		</li>
		<li>
			<a href="http://www.foxitsoftware.com/downloads/">Foxit Reader<img src="/img/external_link_icon.gif" alt="[External Link]"></a>
			<span class="linkdesc">Program which allows you to view PDF-files.</span>
		</li>
	</ul>
</div>