<div id="wideContent">
	<h1>News</h1>
	<span class="timestamp">2013-04-14</span>
	<p>Site moved to a new server.</p>

	<span class="timestamp">2009-04-18</span>
	<p>Minor changes</p>
	<ul class="decorated">
		<li>As the site did not recieve enough donations to keep it alive, I've decided to insert a few ads here and here. Hopefully it will keep the site floating indefinitely.</li>
		<li>Removed / corrected a few broken links.</li>
	</ul>
	
	<span class="timestamp">2008-03-21</span>
	<p>Significant site update:</p>
	<ul class="decorated">
		<li>Significant book revision. More info <a href="/book/">here</a>.</li>
		<li>Removed the PDF-version of the book. A newer version is available on <a href="http://www.amazon.com/">Amazon</a>.</li>
		<li>Added links to different translations of this book in the <a href="resources">resources</a> section.</li>
		<li>Added a "Make a Donation"-button. Donations will be used to cover maintenance costs for this website (such as webhosting).</li>
		<li>Various small improvements / modifications and minor errors corrected.</li>
	</ul>
	
	<span class="timestamp">2007-09-03</span>
	<p>Yet another book revision.</p>
	
	<span class="timestamp">2007-08-25</span>
	<p>Minor book revision.</p>
	
	<span class="timestamp">2007-08-24</span>
	<p>Another significant site update:</p>
	<ul class="decorated">
		<li>Major book revision. More info <a href="/book/">here</a>.</li>
		<li>Improved search functionality. More info <a href="/book/">here</a>.</li>
		<li>Moved the entire site to a different hosting provider. This will hopefully increase the responsivness of the site (especially for european visitors).</li>
		<li>Lots of small improvements and minor errors corrected.</li>
	</ul>
	<p>Please report any errors you encounter on the site to me (Webmaster). You find my email <a href="/index/information">here</a>.</p>
	
	<span class="timestamp">2007-06-25</span>
	<p>Significant site update:</p>
	<ul class="decorated">
		<li>Major book revision. More info <a href="/book/">here</a>.</li>
		<li>New search functionality implemented. This is only experimental and may be replaced by the older search routine.</li>
		<li>Huge overhaul of internal site mechanism. This update will unfortunately break your bookmarks on the site. You may therefore have to update them manually. Sorry for the inconvenience.</li>
		<li>Lots of small improvements and minor errors corrected.</li>
	</ul>
	
	<span class="timestamp">2007-04-12</span>
	<p>Major book revision. More info <a href="/book/">here</a>.</p>
	
	<span class="timestamp">2007-03-07</span>
	<p>Link section updated once again.</p>
	
	<span class="timestamp">2007-01-26</span>
	<p>Link section updated with a link to Henrik Pantle's website who is working on a podcasted version of the book.</p>
	
	<span class="timestamp">2006-12-23</span>
	<p>Search functionality has been added to the site. The search box is located in the upper left corner above the navigation bar.</p>
	
	<span class="timestamp">2006-10-23</span>
	<p>Initial launch of the site.</p>
</div>