<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<title>Fundamentals of Piano Practice<?php echo $this->title; ?></title>
	
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="description" content="The only book available today that teaches how to practice at the piano, not just what techniques you need (scales, runs, hand/finger independence, endurance, jumps, tone, relaxation, etc.), but how to acquire such skills quickly, with specific examples from famous compositions by Bach, Beethoven, Chopin. You can learn piano up to 1000 times faster compared to other methods.">
	<meta name="keywords" content="piano, practice, technique, fundamentals, learning, education, instruction, pedagogy, lessons, methods, teacher, music, tuning">
	
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	
	<script type="text/javascript" src="/js/funcs.js"></script>
	<script type="text/javascript" src="/js/cookie.js"></script>
</head>

<body>
	<div id="wrap">
		<div id="header">
		</div>
		
			<!-- Navigation -->
			<div id="upperNav"></div>
			<div id="nav">
				<div id="showSidebar"><a class="panel" href="#" onClick="drawSidebar(true);"><strong>Show panel</strong></a></div>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/index/news">News</a></li>
					<li><a href="/book">The Book</a></li>
					<li><a href="/index/information">Information</a></li>
					<li><a href="/index/resources">Resources</a></li>
					<li><a href="/index/links">Links</a></li>
				</ul>
			</div>
			
			<div id="adTop">
				<script type="text/javascript"><!--
				google_ad_client = "pub-0769473843117498";
				/* 728x90, Leaderboard */
				google_ad_slot = "1932954752";
				google_ad_width = 728;
				google_ad_height = 90;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</div>
			
			<?php echo $this->layout()->content; ?>
	</div>
	
	<!-- Footer -->
	<div id="footer">
		Copyright &copy; 2006-2009 pianofundamentals.com :: All rights reserved :: Valid <a href="http://validator.w3.org/check?uri=referer">HTML</a> & <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
	</div>
	<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
	<script type="text/javascript">_uacct = "UA-844613-1"; urchinTracker();</script>
</body>
</html>