<div id="wideContent">
	<?php echo $this->render('searchform.phtml'); ?>
	<br>
	<h1><?php echo $this->sectionTitle; ?></h1>
	<?php echo $this->body; ?>
	<h2>Revision History</h2>
	<?php echo $this->revisions; ?>
</div>