<div id="wideContent">
	<?php echo $this->render('searchform.phtml'); ?>
	<?php if (isset($this->searchError)): ?><p class="errorMessage"><?php echo $this->searchError; ?></p><?php endif; ?>
	<p><strong>Your search did not match any documents.</strong></p>
	<p>Suggesions:</p>
	<ul class="decorated">
		<li>Check your spelling.</li>
		<li>Try different keywords.</li>
		<li>Try more general keywords.</li>
		<li>Try fewer keywords.</li>
	</ul>
</div>