<div id="wideContent">
	<?php echo $this->render('searchform.phtml'); ?>
	<p><strong><?php echo count($this->hits); ?></strong> document(s) matched your query.</p>
		<table cellpadding="0" cellspacing="0" border="0">
		<thead>
			<th>Section</th><th width="15%">Relevance</th>
		</thead>
		<tbody>
		<?php
			foreach ($this->hits as $hit) {
				echo "
					<tr onMouseOver=\"this.bgColor='#dde2e4';\" onMouseOut=\"this.bgColor='#ffffff'\">
						<td style=\"text-align: left; padding: 4px;\"><a href=\"/book/en/{$hit->filename}\">{$hit->title}</a></td>
						<td>" . sprintf("%0.2f", $hit->score * 100) . "%</td>
					</tr>\n";
			}
		?>
		</tbody>
		</table>
</div>